{% extends "base.html" %}

{% block content %}
<div class="navbar navbar-expand-sm bg-dark justify-content-end">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="btn btn-default" href="/login">Login</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="btn btn-default" href="/register">Register</a>
        </li>
    </ul>
</div>
<div style="background:#007bff !important" class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to ChetKa messaging app!</h1>
        <img src="static/img/chatka.jpg" class="rounded-circle">
    </div>

</div>



{% endblock content %}