{% extends "base.html" %}

{% block title %}Register{% endblock title %}

{% block content %}
<form method="post" action="/register">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="text-center">
                    <img src="/static/img/chatka.jpg" class="rounded-circle mx-auto" alt="chatka" width="72" height="72">
                    <h1>Please sign in</h1>
                </div>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" name="user-name" class="form-control" id="Username"
                           aria-describedby="usernameHelp" placeholder="Enter username">
                    <small id="usernameHelp" class="form-text text muted">Username must be unique</small>
                </div>
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="Email" name="user-email" class="form-control" id="email"
                           aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text muted">Email must be unique</small>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="user-password" class="form-control"
                           id="Password" placeholder="Enter password">
                </div>
                <div class="text-center">
                    <button class="btn btn-default">Submit</button>
                </div>
                <div class="text-center">
                    <a href="/login">Already have an account?</a>
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock content%}