{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>
            <h4>Title: {{ message.title }}</h4>
            <p>Message:</p>
            <p>{{ message.body }}</p><br>
            <p>Sent by: {{ message.sender.username }}</p>
            {% if current_user.id == message.receiver_id %}
                <a href="{{ url_for('message_delete', message_id=message.id) }}">Delete</a>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock content %}